# --------- Large data directories ---------
**/images/*
**/raw/*
**/output/runs/**

# --------- Generally large file types and data logs ---------
**/*.csv
**/*.json
**/*.npz
**/*.pt

# --------- Editor-related directories and files ---------
**/.vscode/
**/__pycache__

# --------- Exceptions ---------
# .md files used for descriptions, help, or information
!**.md 
